// Variable Overrides
$theme-colors: (
        "primary": #89d9c8
);
$body-bg: #ededed;
.img-fluid{  box-shadow: 10px 10px grey;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.jumbotron {
  background-color: #ffffff !important;
  border-top: 3px solid rgb(219, 219, 219);
}
// Bootstrap Sass Imports
@import "../../node_modules/bootstrap/scss/bootstrap";